@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

:root {
  --color-brand-normal: #819B57;
  --color-brand-dark: #465929;
  --color-brand-light: #CFCFBC;
  --color-primery-light: #FAF4EA;
  --color-primery-dark: #31261A;
  --color-secondary-dark: #A18268;
}

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primery-dark);
  background: var(--color-primery-light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Navigation */
.menu-link {
  color: var(--color-primery-light);
  text-decoration: none;
}

.menu-link:hover {
  color: var(--color-brand-normal);
  cursor: pointer;
}

/* Button */
.btn {
  padding: 16px 32px;
  color: var(--color-primery-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
}

.btn:hover {
  background-color: transparent;
  color: var(--color-brend-dark);
  cursor: pointer;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 24px;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 64px;
}

/* Hero section */
.hero-section {
  padding: 272px 0;
  background-image: url('../images/hero-section-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-title {
  color: var(--color-primery-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

.hero-title .accent {
  color: var(--color-brand-normal);
}

/* Traditions section */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.traditions-content {
  max-width: 710px;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text {
  margin-bottom: 0;
}

.traditions-text:nth-child(2) {
  margin-bottom: 42px;
}

/* Advantages list */
.advantages-section {
  padding: 16px 0;
  background-color: var(--color-brand-normal);
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.advantages-list-item {
  color: var(--color-primery-light);
  font-size: 20px;
  font-weight: 300;
}

.traditions-text .brand {
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text .uppercase {
  text-transform: uppercase;
}

/* Chefs section */
.chefs-section-title {
  text-align: center;
  max-width: 520px;
  margin: 0 auto 80px;
}

.chefs-section-title::before,
.chefs-section-title::after {
  content: '';
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
}

.section-title .accent {
  color: var(--color-brand-dark);
}

.chefs-list {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primery-light), -16px 16px 0 1px var(--color-secondary-dark);
}

.chefs-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-text p {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  margin-bottom: 0;
}

/* Formats section */
.formats-section-title {
  margin-bottom: 80px;
  text-align: center;
}

.formats-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.formats-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.formats-card {
  padding: 24px;
  height: 444px;
  border-radius: 16px;
  background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primery-dark) 100%);
}

.formats-list {
  display: flex;
  gap: 20px;
}

.formats-list-item {
  flex-basis: calc((100% - 40px) / 3);
}

.formats-text {
  font-size: 14px;
  font-weight: 300;
}

/* Carousel*/
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-primery-dark);
  background-color: transparent;
  border: 1px solid var(--color-primery-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primery-dark);
  fill: var(--color-primery-light);
}

/* Contacts section */
.contacts-section {
  padding-bottom: 96px;
}

.contacts-container {
  display: flex;
  gap: 32px;
}

.contacts-map {
  border: none;
  border-radius: 16px;
  flex-shrink: 0;
}

.contacts-section-title {
  margin-bottom: 16px;
}

/* Footer */
.footer {
  background-color: var(--color-primery-dark);
  background-image: url('../images/footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
}

.footer-container {
  display: flex;
  gap: 24px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 24px;
}

.footer-logo,
.footer-menu,
.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primery-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-normal);
  cursor: pointer;
}

.address-icon {
  fill: var(--color-primery-light);
}

.address-icon:hover {
  fill: var(--color-brand-normal);
  cursor: pointer;
}

.address-copyright {
  color: var(--color-secondary-dark);
  font-size: 14px;
}