.footer {
    position: relative;
    background-color: var(--color-primary-dark);
    background-image: url('../images/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
}

.footer::before,
.footer::after {
    content: '';
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    pointer-events: none;
}

.footer::before {
    width: 180px;
    height: 120px;
    left: 0;
    background-image: url('../images/decor-bread-smal.png');
}
.footer::after {
    width: 370px;
    height: 180px;
    right: 0;
    background-image: url('../images/decor-bread-large.png');
}

.footer-container {
    display: flex;
    gap: 24px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 24px;
}

.footer-logo,
.footer-menu,
.address-list,
.address-info {
    flex-grow: 1;
}

.social-icons {
    display: flex;
    gap: 22px;
}

.menu-link {
    margin-bottom: 16px;
}

.address-link {
    color: var(--color-primary-light);
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;
}

.address-link:hover {
    color: var(--color-brand-normal);
    cursor: pointer;
}

.address-icon {
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-brand-normal);
    cursor: pointer;
}

.address-copyright {
    color: var(--color-secondary-dark);
    font-size: 14px;
}