.form-terms {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    max-width: 215px;
    margin: 0 auto;
}

.form-terms-link {
    color: var(--color-primary-dark);
    text-decoration: underline;
    text-underline-offset: 3px;
}