.formats-section-title {
    margin-bottom: 80px;
    text-align: center;
}

.formats-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.formats-list {
    display: flex;
    gap: 20px;
}

.formats-list-item {
    flex-basis: calc((100% - 40px) / 3);
}

