.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    padding: 128px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;
}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

.modal-title {
    font-weight: 900;
    font-size: 64px;
    margin: 0 auto;
    text-align: center;
}

.modal-text {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto 72px;
    text-align: center;
}

.form-field {
    margin-bottom: 32px;
}

.form-btn {
    display: block;
    margin: 0 auto 24px;
}