.traditions-section {
  padding-top: 96px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    &-image {
      border-radius: 400px 400px 0 0;
    }
  }

  &__content {
    max-width: 710px;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__text {
    margin-bottom: 0;
  }

  &__text:nth-child(2) {
    margin-bottom: 42px;
  }
}
