.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 16px 32px;
    color: var(--color-primary-light);
    font-weight: 600;
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
}

.btn:hover {
    background-color: transparent;
    color: var(--color-brend-dark);
    cursor: pointer;
}