.formats-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    height: 444px;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
    transition: transform 0.3s ease;
    overflow: hidden;
}

.formats-card:hover {
    // transform: scale(1.05);
    box-shadow: 4px 4px 20px var(--color-primary-dark);
    cursor: pointer;
}

.formats-card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.formats-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--color-primary-light);
}

.formats-text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primary-light);
}

.formats-text p {
    margin-bottom: 0px;
}